<Plugin
    DescriptorVersion="1.0"
    Name="Emulators"
    PluginId="{65F18961-497B-45F9-BD53-8CFE005F47EC}"
    AutoActivate="True"
    Author="Brownard"
    Copyright="GPL"
    Description="Emulators Plugin"
    PluginVersion="1.0">

  <DependsOn>
    <PluginReference PluginId="{D87D92F0-5E71-470a-A2A4-430F90A28BF3}"/>
    <!-- SkinEngine -->
    <PluginReference PluginId="{1AFF4467-64B0-4ca1-AF28-9AEDF3525BCE}"/>
    <!-- ConfigurationManager -->
    <PluginReference PluginId="{B765A4B6-F455-4941-BDAE-2CE45208BFEB}"/>
    <!-- Configuration plugin -->
  </DependsOn>

  <Runtime>
    <Assembly FileName="Emulators.MediaPortal2.dll"/>
    <Assembly FileName="Emulators.dll"/>
    <PluginStateTracker ClassName="Emulators.MediaPortal2.EmulatorsService"/>
  </Runtime>

  <Register Location="/Models">
    <Model Id="3C370162-2586-416A-963C-F34DDDE184D4" Name="EmulatorsMainModel" ClassName="Emulators.MediaPortal2.Models.EmulatorsMainModel"/>
    <Model Id="C27FA8F9-500C-4AA3-83CB-93427ED1B2EA" Name="ImporterModel" ClassName="Emulators.MediaPortal2.Models.ImporterModel"/>
    <Model Id="03F534A5-4495-4223-A7EB-0FC8D477CF4B" Name="ConfigureEmulatorModel" ClassName="Emulators.MediaPortal2.Models.ConfigureEmulatorModel"/>
    
    <Model Id="F140F32F-9F24-47D2-99B1-09A3A58D69FB" Name="ListDialogModel" ClassName="Emulators.MediaPortal2.Models.Dialogs.ListDialogModel"/>
    <Model Id="6410D85B-D8AC-456F-83F4-2F10057D424A" Name="TextInputDialogModel" ClassName="Emulators.MediaPortal2.Models.Dialogs.TextInputModel"/>

    <Model Id="98D3FD9B-A902-4072-8558-3B60EF6F4B47" Name="ViewModeModel" ClassName="Emulators.MediaPortal2.Models.Dialogs.ViewModeModel"/>
    <Model Id="CF101764-00FA-48A0-8AC2-E6227D1FAAD1" Name="LayoutTypeModel" ClassName="Emulators.MediaPortal2.Models.Dialogs.LayoutTypeModel"/>
    <Model Id="D68F7D3A-464B-43F4-B072-2605EBE26755" Name="PlatformSelectModel" ClassName="Emulators.MediaPortal2.Models.Dialogs.PlatformSelectModel"/>
    <Model Id="C89ED37E-8F20-486C-AD47-803366A57B00" Name="PlatformDetailsModel" ClassName="Emulators.MediaPortal2.Models.Dialogs.PlatformDetailsModel"/>
    <Model Id="B7450369-957B-429C-96B1-CA41CABAC8B4" Name="GameLauncherDialog" ClassName="Emulators.MediaPortal2.Models.Dialogs.GameLauncherDialog"/>
    
    <Model Id="7541BF0F-C225-4518-8128-385B583582C3" Name="SwitchViewContributorModel" ClassName="Emulators.MediaPortal2.Actions.SwitchViewAction"/>
    <Model Id="58CAC6A5-DBAC-4E31-ACD0-A85216FDFFF4" Name="ChangeLayoutContributorModel" ClassName="Emulators.MediaPortal2.Actions.ChangeLayoutAction"/>
    <Model Id="5233A665-7F51-4F2D-A169-65C931DAED54" Name="ImporterContributorModel" ClassName="Emulators.MediaPortal2.Actions.ImporterAction"/>
  </Register>

  <Register Location="/Workflow/States">

    <WorkflowState Id="97F9A2D9-B857-4890-9EF2-5E2BC66A53BB"
        Name="EmulatorsView" MainScreen="emulators" WorkflowModel="3C370162-2586-416A-963C-F34DDDE184D4"
        DisplayLabel="[Emulators.Emulators]"/>
    
    <WorkflowState Id="1782275A-4B3C-4E00-9F97-8B60DFD28F91"
          Name="ImporterView" MainScreen="importer" WorkflowModel="C27FA8F9-500C-4AA3-83CB-93427ED1B2EA"
          DisplayLabel="[Emulators.Importer]"/>
    
    <WorkflowState Id="2F7DEE79-8952-45F2-A6F9-D4F3896816C3"
          Name="EditEmulatorsList"
          MainScreen="edit_emulators_list"
          WorkflowModel="03F534A5-4495-4223-A7EB-0FC8D477CF4B"
          DisplayLabel="[Emulators.EditEmulators]"/>

    <WorkflowState Id="4824523F-ABC2-4E41-B645-166C3189EAF0"
          Name="EditEmulator"
          MainScreen="edit_emulator"
          WorkflowModel="03F534A5-4495-4223-A7EB-0FC8D477CF4B"
          DisplayLabel="[Emulators.EditEmulator]"/>
    
    <WorkflowState Id="B6DA5181-293B-4ADB-82D9-020D985F353C"
          Name="EditProfile"
          MainScreen="edit_profile"
          WorkflowModel="03F534A5-4495-4223-A7EB-0FC8D477CF4B"
          DisplayLabel="[Emulators.EditProfile]"/>
    
    <WorkflowState Id="8B10CB9D-A13F-4E59-9DF0-CF8EA59EB041"
          Name="EditProfileAdvanced"
          MainScreen="edit_profile_advanced"
          WorkflowModel="03F534A5-4495-4223-A7EB-0FC8D477CF4B"
          DisplayLabel="[Emulators.Advanced]"/>

    <WorkflowState Id="BA597FFA-8BA3-4AD9-8425-9D85D89EE50C"
          Name="EditProfileGoodmerge"
          MainScreen="edit_profile_goodmerge"
          WorkflowModel="03F534A5-4495-4223-A7EB-0FC8D477CF4B"
          DisplayLabel="[Emulators.Goodmerge]"/>

    <DialogState Id="C69A5500-0059-4E4E-A331-2FD9835C4D0B"
          Name="NewEmulatorView"
          DialogScreen="new_emulator"
          WorkflowModel="03F534A5-4495-4223-A7EB-0FC8D477CF4B"
          DisplayLabel="[Emulators.NewEmulator]"/>

    <DialogState Id="FCDF2FC6-AF61-40E1-8022-CB9C32398C78"
          Name="ProfileSelectView"
          DialogScreen="dialog_profile_select"
          Temporary="true"
          WorkflowModel="03F534A5-4495-4223-A7EB-0FC8D477CF4B"
          DisplayLabel="[Emulators.Dialogs.SelectProfile]"/>
    
    <DialogState Id="9EB96B6C-D94D-4C29-9CBF-E41E31BF2797"
          Name="PlatformProgressDialog"
          DialogScreen="dialog_platform_progress"
          WorkflowModel="C89ED37E-8F20-486C-AD47-803366A57B00"
          DisplayLabel="[Emulators.Dialogs.PlatformImporter]"/>

    <DialogState Id="5FCB7437-6A5B-42D3-B75B-51DD413BDA13"
          Name="GameLauncherDialog"
          DialogScreen="dialog_game_launcher"
          WorkflowModel="B7450369-957B-429C-96B1-CA41CABAC8B4"
          DisplayLabel="[Emulators.Dialogs.LaunchGame]"/>
    
  </Register>

  <!-- Registration of our skin directory -->
  <Register Location="/Resources/Skin">
    <Resource Id="EmulatorsSkin" Directory="Skin" Type="Skin"/>
  </Register>

  <!-- Registration of our language directory -->
  <Register Location="/Resources/Language">
    <Resource Id="EmulatorsLanguage" Directory="Language" Type="Language"/>
  </Register>

  <!-- Registration of our configuration section -->  
  <Register Location="/Configuration/Settings/Plugins">
    <ConfigSection
        Id="EmulatorsPlugin"
        Redundant="true"
        Text="Emulators"/>
  </Register>

  
  <!-- Contents of '/Plugins/EmulatorsPlugin' section -->
  <Register Location="/Configuration/Settings/Plugins/EmulatorsPlugin">
    <ConfigSection
        Id="EmulatorsConfigure"
        Redundant="true"
        Text="[Emulators.Config.Configure]"/>
    <ConfigSection
        Id="Importer"
        Redundant="true"
        Text="Importer"/>
    <ConfigSetting
        Id="EmulatorsStartupState"
        Text="[Emulators.Config.StartupView]"
        HelpText="[Emulators.Config.StartupView.Help]"
        ClassName="Emulators.MediaPortal2.Settings.StartupStateSetting"/>
  </Register>
  
  <Register Location="/Configuration/Settings/Plugins/EmulatorsPlugin/EmulatorsConfigure">
    <CustomConfigSetting
        Id="EditEmulatorsList"
        Text="[Emulators.EditEmulators]"
        HelpText="[Emulators.EditEmulators.Help]"
        ClassName="Emulators.MediaPortal2.Settings.EditEmulatorsSetting"
        AdditionalData="WorkflowState=2F7DEE79-8952-45F2-A6F9-D4F3896816C3,ConfAppPanel=..."/>
  </Register>

  <Register Location="/Configuration/Settings/Plugins/EmulatorsPlugin/Importer">
    <CustomConfigSetting
        Id="ImporterConfig"
        Text="Importer"
        HelpText=""
        ClassName="Emulators.MediaPortal2.Settings.ImporterSetting"
        AdditionalData="WorkflowState=1782275A-4B3C-4E00-9F97-8B60DFD28F91,ConfAppPanel=..."/>
  </Register>
</Plugin>